<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-white">Sign up</h2>
    <hr>

    <div class="mb-3 text-center">
        <label class="me-2">I am a: </label>
        <label class="form-check-label me-2">
            <input type="radio" value="male" formControlName="gender" class="form-check-input"> Male
        </label>
        <label class="form-check-label">
            <input type="radio" value="female" formControlName="gender" class="form-check-input"> Female
        </label>
    </div>


    <app-text-input label="Username" [formControl]="$any(registerForm.get('username'))"></app-text-input>

    <app-text-input label="Known As" [formControl]="$any(registerForm.get('knownAs'))"></app-text-input>

    <app-date-picker label="Date of birth" [formControl]="$any(registerForm.get('dateOfBirth'))"
        [maxDate]="maxDate"></app-date-picker>

    <app-text-input label="City" [formControl]="$any(registerForm.get('city'))"></app-text-input>

    <app-text-input label="Country" [formControl]="$any(registerForm.get('country'))"></app-text-input>

    <app-text-input label="Password" [formControl]="$any(registerForm.get('password'))"
        type="password"></app-text-input>

    <app-text-input label="Confirm Password" [formControl]="$any(registerForm.get('confirmPassword'))"
        type="password"></app-text-input>

    @if(validationErrors){
    <div class="alert alert-danger">
        <ul>
            @for (error of validationErrors; track $index) {
            <li>{{error}}</li>
            }
        </ul>
    </div>
    }
    <div class="form-grroup text-center">
        <button class="btn btn-primary me-2" [disabled]="registerForm.invalid" type="submit">Register</button>
        <button class="btn btn-danger me-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>