<nav class="navbar navbar-expand-md bg-primary fixed-top" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="home">Dating App</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      @if(accountService.currentUser()){
      <li class="nav-item">
        <a routerLink="members" class="nav-link" routerLinkActive="active">Matches</a>
      </li>
      <li class="nav-item">
        <a routerLink="lists" class="nav-link" routerLinkActive="active">Lists</a>
      </li>
      <li class="nav-item">
        <a routerLink="messages" class="nav-link" routerLinkActive="active">Messages</a>
      </li>
      }
      <li class="nav-item">
        <a routerLink="error" class="nav-link" routerLinkActive="active">Error</a>
      </li>
    </ul>

    @if(accountService.currentUser()){
    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome user</a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    }

    @if(!accountService.currentUser()){
    <form class="d-flex" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username">
      <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
        placeholder="Password">
      <button class="btn btn-info" type="submit">Login</button>
    </form>
    }
  </div>
</nav>